<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-striped">

  <!-- Dynamic Columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center table-header"> 
      {{ headerData[columns.indexOf(column)] }} 
    </th>
    <td mat-cell *matCellDef="let element" class="text-center"> 
      {{ element[column] }} 
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center table-header"> Actions </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <ng-container *ngIf="!loadingStates[element.id]; else spinnerTemplate">
        <i class="fa-solid fa-2x fa-circle-info me-3 custom-icon" (click)="viewDetails(element.id)" matTooltip="View Details"></i>
        <i class="fa-solid fa-2x fa-trash text-danger custom-icon" (click)="deleteCourse(element.id)" matTooltip="Delete"></i>
      </ng-container>
      <ng-template #spinnerTemplate>
        <div class="spinner-border text-primary spinner-position" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </ng-template>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-primary"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="align-middle"></tr>
</table>
