<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="text-center table-header"> No. </th>
      <th *ngFor="let header of headerData; let i = index" 
          [ngClass]="{'table-header text-capitalize text-center': true, 'description-column': header === 'Description'}">
        {{ header }}
      </th>
      <th class="text-center table-header"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let element of dataSource; let index = index">
      <td class="text-center">{{ index + 1 }}</td>
      <td *ngFor="let column of columns" 
          [ngClass]="{'text-center': true, 'description-column': column === 'description'}">
        {{ element[column] }}
      </td>
      <td class="text-center">
        <div class="d-flex justify-content-center align-items-center">
          <ng-container *ngIf="!loadingStates[element.id]; else spinnerTemplate">
            <i class="fa-solid fa-2x fa-circle-info me-3 custom-icon" 
               (click)="viewDetails(element.id)" 
               matTooltip="View Details"></i>
            <i class="fa-solid fa-2x fa-trash text-danger custom-icon" 
               (click)="deleteCourse(element.id)" 
               matTooltip="Delete"></i>
          </ng-container>
          <ng-template #spinnerTemplate>
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
