<div class="container my-5">

  <!-- Header and Buttons -->
  <div *ngIf="!loader" class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1 class="fw-bold mb-0">Course List</h1>
      <p class="text-muted mb-0">This list displays all the courses, allowing you to manage and view them easily.</p>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-primary me-3" (click)="createNewCourse()" matTooltip="Create New Course">
        <i class="fa-solid fa-plus me-2"></i>Add Course
      </button>
      <button class="btn btn-secondary" (click)="viewInstances()" matTooltip="View Instances">
        <i class="fa-solid fa-eye me-2"></i>View Instances
      </button>
    </div>
  </div>
  

  <!-- Loader Spinner -->
  <div *ngIf="loader" class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <hr>

  <!-- Dynamic Table -->
  <dynamic-table *ngIf="!loader && !noData"
    [columns]="data"
    [headerData]="headerList"
    [dataSource]="courses"
    [spinner]="spinner"
    (delete)="deleteCourse($event)"
    (view)="viewDetails($event)">
  </dynamic-table>

  <!-- No Data Placeholder -->
  <div *ngIf="noData && !loader">
    <null-screen></null-screen>
  </div>

</div>
