.spinner-wrapper {
    position: fixed; /* Fixes the position to the viewport */
    top: 50%; /* Moves the top edge to the middle of the viewport */
    left: 50%; /* Moves the left edge to the middle of the viewport */
    transform: translate(-50%, -50%); /* Adjusts the position to truly center */
    display: flex; /* Uses flexbox for centering */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background to obscure content */
    z-index: 1050; /* Ensures the spinner appears above other content */
  }
  

  .cursor-pointer{
    cursor: pointer;
  }