<div class="container">
    <h1>Course Information</h1>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="courseTitle">Course Title</label>
            <input type="text" id="courseTitle" formControlName="title" placeholder="Enter course title">
        </div>
        <div class="form-group">
            <label for="courseCode">Course Code</label>
            <input type="text" id="courseCode" formControlName="course_code" placeholder="Enter course code">
        </div>
        <div class="form-group">
            <label for="courseDescription">Course Description</label>
            <textarea id="courseDescription" formControlName="description" rows="4" placeholder="Enter course description"></textarea>
        </div>
        <button type="submit" [disabled]="courseForm.invalid">Submit</button>
        <button (click)="goBack()">back</button>
    </form>
</div>
